include VERSION
include README.md
include PYPI_DESCRIPTION.md
include *.md
include command-list.txt
include game_questions.json
include welcome.py
include fancygit.py
include quiz_server.py
recursive-include src *.py
recursive-include tests *.py
recursive-include images *.png *.jpg *.jpeg *.gif
global-exclude *.pyc
global-exclude __pycache__
